*{
    margin: 0;
    padding: 0;
}

.head{
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: center;
    color: white;
    border-bottom: 4px solid orange;
}
.image{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    margin-left: 350px;
}
.image1 img{
    border-radius: 16px;
    width: 35%;
    padding: 10px;
}
#imags img{
   width:45px
}
.nav{
   
    margin-top: 25px;
}